<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="device" value="desktop"/>
		<add key="browser" value="chrome"/>
		<add key="browserStackLogin" value="grzegorzrzeszut_qxHV86"/>
		<add key="browserStackKey" value="vv1Zs8wwgBJBUtZzgPDV"/>

		<!-- URLs -->
		<add key="HomePage" value="https://www.saucedemo.com/"/>
		<add key="InventoryPage" value="https://www.saucedemo.com/inventory.html"/>

	</appSettings>
</configuration>